#returnSentence {
  display: none;
}

#firstForm {
  width: 40%;
}

body {
  background-color: #ff9f7a;
}

.description, ul, p, #inputNum {
  width: 50%;
  font-family: 'VT323';
  font-weight: bold;
  font-size: 18px;
}

#sentenceTwo {
  font-weight: bold;
  font-size: 25px;
  color: white;
}
