#returnSentence {
  display: none;
}

#firstForm {
  width: 40%;
}

body {
  background-color: #ff9f7a;
}

.description, ul, #inputNum, p {
  width: 50%;
  font-family: 'VT323';
  font-weight: bold;
  font-size: 18px;
}

#sentenceTwo {
  font-weight: bold;
  font-size: 20px;
  color: white;
}

h1, .btn {
  font-family: 'VT323';
  font-weight: bold;
}

.result {
  font-size: 25px;
}
